@font-face {
    font-family: 'SanFranciscoText-LightItalic';
    src: url('../fonts/SanFranciscoText-LightItalic.otf');
}
@font-face {
    font-family: 'SanFranciscoText-BoldItalic';
    src: url('../fonts/SanFranciscoText-BoldItalic.otf');
}

html, body {
    height: 100%;
    min-height: 100%;
}

form {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4267b2;
}

.wrapper {
    background-image: url(../images/backgrounds/desktop.jpg);
    background: cover;
    background-position: top center no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.login_box {
    font-family: 'SanFranciscoText-LightItalic', sans-serif;
    position: relative;
    margin: 0 auto;
    margin-top: 7%;
    width: 35%;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.98;
}

.login_header {
    font-family: 'SanFranciscoText-LightItalic', sans-serif;
    width: 100%;
    height: 90px;
    background-color: #4267b2;
    color: #fff;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.login_header h1 {
    font-family: 'SanFranciscoText-BoldItalic', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: #000 0.5px 0.5px 0px;
    font-size: 250%;
}

input[type="submit"] {
    background-color: #4267b2;
    border: 1px solid #4267b2;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    padding: 5px 10px 5px 10px;
    color: #fff;
    text-shadow: #000 0.5px 0.5px 0px;
    font-family: 'SanFranciscoText-BoldItalic', sans-serif;
    font-size: 100%;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    border-color: #4267b2;
}

#second {
    display: none;
}
















